<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Live Weather Stats</title>
  </head>
  <body>
    <div id="app">
      <main id="main">
        <form action="" method="POST" class="form">
            <input type="text" name="loc" id="iloc" placeholder="Location">
            <input type="submit" value="Set" class="setbtn">
        </form>
        <div class="info">
            <h2 class="location"><%= loc %> </h3>
            <p class="date"><%= date %> </p>
            <h1 class="temp"><%= temp %><span class="unit">°C</span></h1>
            <img src="<%= imgurl %> " alt="Weather Icon" class="icon">
            <h4 class="descrip"><%= description %> </h4>
        </div>
        <ul>
          <li>Humidity: <%= humidity %>%</li>
          <li>Visibility: <%= visibility %>m</li>
          <li>Pressure: <%= pressure %>mb</li>
          <li>Wind Speed: <%= windspeed %>m/s</li>
        </ul>
      </main>
    </div>
  </body>
</html>
